
* {
    margin: 0;
    padding: 0;
}

header {    
    position: fixed;
    width: 100%;
    height: 45px;
    background: #ffffff;
    top: 0px;
    display: flex;
    align-items: flex-end;
}
.menu1 {
    font-size: 30px;
}
.menu1 span {
    color: rgb(0,0,255);
}
.menu2 {
    text-transform: uppercase;
    position: absolute;
    left: 1200px;
}
.menu2 a {
    padding-left: 30px;
    text-decoration: none;
    color: #0e0d0d;
}

.fundo-angra {
    background-image: url("/Projetos/Pousada/assets/img-fundo.jpg");
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box-pousada {
    height: 130px;
    width: 300px;
    padding-top: 25px;
    border: 1px solid ;
    background-color: rgba(54, 197, 149, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-pousada p {
    font-size: 17.5px;
}

section {
    margin-top: 50px
}

.texto {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.texto h2 {
    padding-bottom: 20px;
    font-size: 40px;
}
.texto p {
    font-size: 20px;
}
/*Inicio do QUARTO*/
#quartos {
    display: flex;
    justify-content: space-around;
    
}
#quartos .quartos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    border-bottom: 1px solid rgb(0,0,0);
}
#quartos img {
    width: 400px;
}

.quartos a{
    text-decoration: none;
    padding-top: 20px;
    font-size: 25px;
}
/*Fim do QUARTOS*/

/*********Fim do ROTA*******/
iframe {
    width: 100%;
    /*Fim do ROTA*/
}
/******Inicío do sobre nós******/
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    padding: 5px;
    margin: 5px 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: 700px;
}
.txbx {
    width: 500px;
}
.box img {
width: 120px;
height: 70px;
}
/*Fim do sobre nós*/

/*****Inicío do rodapé******/
footer {
    background-color: rgb(17, 68, 26);
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;        
}
.endereço .telefone .reserva .copyright {
    width: 400px;
    margin-left: 20px;
}
.contato {
    width: 250px;
    margin-left: 20px;
}
.rodape p {
    color:#ffffff
}
.rodape a {
    color: #ffffff;
    text-decoration: none;
   
}
/*Fim do rodapé*/